#jddraggable {
    position: fixed; 
    width: 240px; 
    left: 10px; 
    top: 106px; 
    z-index: 2147483646;
    border:1px solid #555;
    background-color: #eee;
    padding:0 0 15px;
}
.jddraggable-title {
    color: #FFF ;
    height:30px;
    background-color: #555;
    cursor:move;
    line-height:30px;
    font-size: 14px;
    padding-left:5px;
}
.jddraggable-main {
    margin: 10px;
}
.jddraggable-main p, {
    margin-bottom: 10px;
}
#prefix .jddraggable-main button{
    margin-right: 10px;
}
.jddraggable-message {
    
}
#jddraggable p {
    text-align: left;
}

#jddraggable p button {
    width: 82px;
}
