body {
    width: 400px;
    padding: 5px 0;
    min-height: 223px;
}
.page-main {
    display: block;
}
.page-main label {
    text-align: right;
    line-height: 30px;
    padding-right: 6px;
}
#signup {
    display: none;
}
.userinfo {
    text-align: center;
}
.message {
    color:red;
}
#prefix .form-group {
    margin-bottom: 0px;
}
#prefix form{
    padding-right: 22px;
}
#metahead {
    margin:0 0 5px 15px;
    /*border-left: 5px solid #ccc;
    /*padding-left: 10px;*/
}
.redrequired {
    color: #d9534f;
}
#prefix .panel {
    margin-bottom: 10px;
}
#prefix .panel-heading{
    padding: 2px 6px;
}
#prefix .panel-title{
    font-size: 14px;
}
#prefix .panel-body {
    padding: 10px;
}
#prefix p {
    margin: 0 0 6px;
}